#a {
    width: 500px;
    height: 500px;
    border: 2px solid rgb(19, 172, 199);
    color: pink;
    margin: 0 auto;
    text-align:center;
}

center {
    height: 50% auto;
    width: -50% auto;
}